@import url("variables.css");
/* Resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

button {
	all: unset;
	cursor: pointer;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#insert-shape-area {
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 40%;
	height: 100%;
	background-color: var(--p4-color);
	border-radius: var(--border-radius-large) 0 0 var(--border-radius-large);
	box-shadow: 0px 1px 5px var(--b1-color);
	position: absolute;
	z-index: 1;
	padding: var(--spacing-small);
	gap: var(--spacing-small);
	transition: 1s ease;
}
#added-shape-area {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 50%;
}

#added-shape {
	width: 100%;
	height: 100%;
	background-color: var(--white);
	display: flex;
	align-items: center;
	justify-content: center;
}

#type-shape-add-current {
	min-width: 100%;
	font: var(--font-primary);
	font-size: var(--font-size-small);
	text-transform: uppercase;
}
#added-shape-area div {
	display: flex;
	justify-content: space-between;
	margin: var(--spacing-small) 0;
}

#added-shape-dimensions {
	width: 100%;
	margin: var(--spacing-small) 0;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-small);
	overflow: hidden;
	overflow-y: auto;
}

#confirm-add-shape-button {
	background-color: var(--success-color);
	opacity: 0.8;
	border-color: var(--success-color);
}
#confirm-add-shape-button:hover {
	opacity: 1;
}

#cancel-add-shape-button {
	background-color: var(--error-color);
	opacity: 0.8;
	border-color: var(--error-color);
}
#cancel-add-shape-button:hover {
	opacity: 1;
}

#shape-dimensions-form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: var(--spacing-small);
}

#shape-dimensions-form label {
	text-transform: uppercase;
	font-size: var(--font-size-small);
}

#shape-dimensions-form input {
	font: var(--font-primary);
	font-size: var(--font-size-base);
	font-weight: 300;
	width: 100%;
}
