@import url("variables.css");

/* Resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */

html,
body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: visible;
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--font-primary);
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--b4-color);
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */
/* Estilização da navbar */

header {
	width: 100%;
	flex-shrink: 1;
}

nav {
	font-family: var(--font-primary);
	font-size: var(--font-size-small);
	font-weight: 300;
	text-transform: uppercase;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	background-color: var(--p1-color);
	padding: var(--spacing-tiny) 0;
}
nav div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0 var(--spacing-small);
}

nav div a {
	text-decoration: none;
	color: var(--p4-color);
	padding: 0 var(--spacing-tiny);
	transition: ease 0.3s;
}

nav > div > div {
	display: flex;
	flex-direction: row;
	gap: var(--spacing-small);
}

nav > div > div:not(:last-child) {
	border-right: var(--border-width) solid var(--b2-color);
}

nav div a:hover {
	color: var(--white);
}
nav div a:focus {
	color: var(--b3-color);
}

nav div button {
	font-weight: 400;
	color: var(--white);
	border: var(--border-width) solid var(--white);
	border-radius: var(--border-radius);
	padding: 0 var(--spacing-tiny);
	transition: ease 0.3s;
}

nav div button:hover {
	background-color: var(--p4-color);
	color: var(--p1-color);
}

#logo > img {
	height: var(--spacing-xlarge);
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */
/* Estilização da main */
main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */

#option-bar {
	flex-shrink: 1;
	width: 100%;
	padding: var(--spacing-small) 0;
	background-color: var(--p2-color);
	display: flex;
	align-items: start;
	justify-content: space-around;
}

#option-bar > div {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 var(--spacing-tiny);
}
#option-bar > div:not(:last-child) {
	border-right: var(--border-width) solid var(--b2-color);
}

#option-bar > div > div {
	display: flex;
	flex-wrap: wrap;
	gap: var(--spacing-medium);
	justify-content: center;
	padding: 0;
	transition: 0.3s;
}

#option-bar h2 {
	text-transform: uppercase;
	font: var(--font-primary);
	font-weight: 400;
	font-size: var(--font-size-small);
	color: var(--white);
	margin-bottom: var(--spacing-tiny);
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */
#layer-bar {
	flex-shrink: 1;
	background-color: var(--p1-color);
	display: flex;
	gap: var(--spacing-medium);
	padding: var(--spacing-tiny);
	width: 100%;
}

#select-layer {
	width: 30%;
}

#navigation-controls {
	display: flex;
	flex-direction: row;
	gap: var(--spacing-medium);
}
/* ----------------------------------------------------------------------------------------------------------------------------------- */
#project-area {
	flex-grow: 1;
	height: 100%;
	width: 100%;
	position: relative;
}

#draw {
	width: 100%;
	height: 100%;
	background-color: var(--white);
}
#draw-screen {
	height: 100%;
	width: 100%;
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */
#position-mouse {
	position: absolute;
	top: var(--spacing-tiny);
	right: var(--spacing-small);
	padding: var(--spacing-small) var(--spacing-medium);
	border-radius: var(--border-radius);
	font-size: var(--font-size-small);
	pointer-events: none; /* Ignora cliques e eventos de mouse */
	color: var(--b1-color);
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */
#command-bar {
	width: 100%;
	position: absolute;
	bottom: var(--spacing-tiny);
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-small);
	flex-direction: row;
	padding: 0 10dvw;
}

.command-input-container {
	flex-shrink: 2;
	width: 100%;
}

#command-input-container {
	flex-shrink: 1;
	width: 100%;
	display: flex;
	align-items: center;
	border-radius: var(--border-radius);
	background-color: var(--white);
	border: 0.5px solid var(--b1-color);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para a lista de sugestões como dropdown */
#command-suggestions {
	display: none;
	z-index: 1000;
	overflow-y: auto;
	background-color: var(--b4-color);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: var(--border-radius);
	font-size: var(--font-size-small);
}

.suggestions-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.suggestions-list li {
	padding: 8px;
	cursor: pointer;
}

.suggestions-list li:hover {
	background-color: #e6e6e6;
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */
/* Mensagens dos comandos */

#command-messages {
	flex-grow: 0;
	font-size: var(--font-size-small);
	padding: var(--spacing-tiny);
	display: none;
}

#command-messages button {
	padding: var(--spacing-tiny);
	border: calc(var(--border-width) / 2) solid black;
	border-radius: var(--border-radius);
}

#command-input-bar {
	flex-grow: 2;
	padding: var(--spacing-tiny);
	outline: none;
	border: none;
	border-radius: var(--border-radius);
	font-family: var(--font-primary);
	font-size: var(--font-size-small);
}

#command-input-enter {
	border: 1px solid black;
	padding: 0 var(--spacing-medium);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */

#down-bar {
	display: flex;
	flex-direction: row;
	flex-shrink: 1;
	align-items: center;
	width: 100%;
	background-color: var(--p1-color);
	gap: var(--spacing-xlarge);
	padding: var(--spacing-tiny) var(--spacing-xlarge);
}

.container-float {
	position: absolute;
	bottom: 120%; /* Alinha o tooltip acima do botão */
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--p3-color); /* Cor do fundo do tooltip */
	color: var(--p1-color); /* Cor do texto do tooltip */
	padding: var(--spacing-tiny) var(--spacing-small);
	border-radius: var(--border-radius);
	font-size: var(--font-size-tiny);
	font-family: var(--font-primary);
	font-weight: 500;
	white-space: nowrap;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s ease;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	z-index: 10;
}

.container-float > div {
	display: flex;
	padding: var(--spacing-small) 0;
	align-items: center;
	gap: var(--spacing-tiny);
	font-size: var(--font-size-small);
	cursor: auto;
}
button:has(.container-float) {
	cursor: pointer;
	position: relative;
	text-transform: uppercase;
	font-size: var(--font-size-small);
	color: var(--white);
}
button:has(.container-float):active > span {
	background-color: var(--white);
	color: var(--black);
	mix-blend-mode: lighten;
	opacity: 0.3;
}

button:has(.container-float):hover .container-float,
button:has(.container-float):active .container-float {
	opacity: 1;
	visibility: visible;
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */
/* Estilo para a lista de sugestões como dropdown */

.suggestions-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: var(--b4-color);
	position: absolute;
	bottom: 100%;
	overflow-y: auto;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	z-index: 9999;
	border-radius: var(--border-radius);
	display: none;
	font-size: var(--font-size-small);
	/* flex-direction: column-reverse; */
}

.suggestions-list li {
	padding: 8px;
	cursor: pointer;
}

.suggestions-list li:hover {
	background-color: #e6e6e6;
}

/* ----------------------------------------------------------------------------------------------------------------------------------- */
/* Diversos */

.cursor-style {
	fill: none;
	stroke-width: 1px;
	stroke: gray;
	mix-blend-mode: difference;
}

.selected {
	stroke: yellow;
	/* mix-blend-mode: difference; */
}
.disabled {
	pointer-events: none; /* Desativa a interação */
	opacity: 0.5; /* Torna o botão mais opaco */
}
.snap {
	stroke: red;
	pointer-events: none;
}

.custom-cursor {
	stroke: white;
	mix-blend-mode: difference; /* Faz o contraste com o fundo */
}

.feedback-line {
	stroke: white;
	mix-blend-mode: difference;
}
/* 
#draw {
	background-color: rgb(0, 0, 0);
} */

/* ----------------------------------------------------------------------------------------------------------------------------------- */
