@import url("variables.css");

/* Resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

button {
	all: unset;
	cursor: pointer;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	font-family: var(--font-primary);
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: space-between; */
	background-color: var(--b4-color);
}

/* Estilização da navbar */
/* Tags */
nav {
	font-family: var(--font-primary);
	font-size: var(--font-size-small);
	font-weight: 300;
	min-height: 10dvh;
	text-transform: uppercase;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100dvw;
	justify-content: space-around;
	background-color: var(--p1-color);
	padding: var(--spacing-small) var(--spacing-xlarge);
}
nav div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0 var(--spacing-small);
}

nav div a {
	text-decoration: none;
	color: var(--p4-color);
	padding: 0 var(--spacing-tiny);
	transition: ease 0.3s;
}

nav > div > div {
	display: flex;
	flex-direction: row;
	gap: var(--spacing-small);
	/* margin-left: var(--spacing-medium); */
}

nav > div > div:not(:last-child) {
	border-right: var(--border-width) solid var(--b2-color);
}

nav div a:hover {
	color: var(--white);
}
nav div a:focus {
	color: var(--b3-color);
}

nav div button {
	font-weight: 400;
	color: var(--white);
	border: var(--border-width) solid var(--white);
	border-radius: var(--border-radius);
	padding: 0 var(--spacing-tiny);
	transition: ease 0.3s;
}

nav div button:hover {
	background-color: var(--p4-color);
	color: var(--p1-color);
}

/* ids */
#logo > img {
	height: var(--spacing-xlarge);
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Estilização da main */
/* tags */
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100dvw;
	margin: 0;
}

/* ids */
#option-bar {
	min-height: 10dvh;
	width: 100%;
	padding: var(--spacing-small) 0;
	background-color: var(--p2-color);
	display: flex;
	align-items: start;
	justify-content: space-around;
}

#option-bar > div {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 var(--spacing-small);
}
#option-bar > div:not(:last-child) {
	border-right: var(--border-width) solid var(--b2-color);
}

#option-bar > div > div {
	display: flex;
	flex-wrap: wrap;
	gap: var(--spacing-medium);
	justify-content: center;
}

#option-bar h2 {
	text-transform: uppercase;
	font: var(--font-primary);
	font-weight: 400;
	font-size: var(--font-size-small);
	color: var(--white);
	margin: var(--spacing-tiny);
}
#layer-bar {
	background-color: var(--p1-color);
	display: flex;
	gap: var(--spacing-medium);
	padding: var(--spacing-tiny);
	width: 100%;
}

#select-layer {
	width: 30%;
}

#project-area {
	/* border: 5px solid red; */
	width: 100%;
	justify-content: space-between;
	position: relative;
}

#draw {
	width: 100%;
	height: 100%;
	background-color: var(--white);
	border-radius: var(--border-radius-large);
	box-shadow: 0px 0px 3px var(--b1-color);
}

#navigation-controls {
	display: flex;
	flex-direction: row;
	gap: var(--spacing-medium);
}
#draw-screen {
	height: 100%;
	width: 100%;
}

#position-mouse {
	position: absolute;
	bottom: var(--spacing-small);
	right: var(--spacing-small);
	padding: var(--spacing-small) var(--spacing-medium);
	border-radius: var(--border-radius);
	font-size: var(--font-size-small);
	pointer-events: none; /* Ignora cliques e eventos de mouse */
	color: var(--b1-color);
}

#down-bar {
	display: flex;
	align-items: center;
	gap: var(--spacing-small);
	width: 100%;
	height: 6dvh;
	background-color: var(--p1-color);
	border-radius: var(--border-radius-large);
	padding: var(--spacing-small);
	position: relative; /* Para manter a posição de seus filhos */
}

.command-input-container {
	position: relative;
	width: 60%;
}
#command-input-container {
	display: flex;
	align-items: center;
	border-radius: var(--border-radius);
	background-color: var(--white);
	width: 100%;
}

#command-messages {
	font-size: var(--font-size-small);
	flex-shrink: 0;
	padding: var(--spacing-small);
	display: none;
}

#command-messages button {
	padding: var(--spacing-tiny);
	border: calc(var(--border-width) / 2) solid black;
	border-radius: var(--border-radius);
}

#command-input-bar {
	flex-grow: 1;
	padding: var(--spacing-small);
	border: none;
	outline: none;
	border-radius: var(--border-radius);
	font-family: var(--font-primary);
	font-size: var(--font-size-base);
}

#snap-options,
#mouse-options {
	display: flex;
	flex-direction: row;
	gap: var(--spacing-small);
	margin: var(--spacing-small);
}
#snap-options,
#mouse-options label {
	font-size: var(--font-size-small);
	color: var(--white);
}

#mouse-options div {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--spacing-tiny);
}
#snap-options div {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--spacing-tiny);
}

/* Estilo para a lista de sugestões como dropdown */
.suggestions-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 1px solid #ccc;
	background-color: #fff;
	position: absolute;
	bottom: 100%; /* Posiciona logo abaixo do input */
	left: 0;
	width: 100%;
	max-height: 150px;
	overflow-y: auto;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	z-index: 1000; /* Certifique-se de que fica sobre outros elementos */
	border-radius: var(--border-radius);
	display: none; /* Oculta até o usuário começar a digitar */
	/* flex-direction: column-reverse; */
}

.suggestions-list li {
	padding: 8px;
	cursor: pointer;
}

.suggestions-list li:hover {
	background-color: #e6e6e6;
}

/* classes */

.cursor-style {
	fill: none;
	stroke-width: 1px;
	stroke: gray;
	mix-blend-mode: difference;
}

.selected {
	stroke: yellow;
	/* mix-blend-mode: difference; */
}
.disabled {
	pointer-events: none; /* Desativa a interação */
	opacity: 0.5; /* Torna o botão mais opaco */
}
.snap {
	stroke: red;
	pointer-events: none;
}

.custom-cursor {
	stroke: white;
	mix-blend-mode: difference; /* Faz o contraste com o fundo */
}

.feedback-line {
	stroke: white;
	mix-blend-mode: difference;
}
/* 
#draw {
	background-color: rgb(0, 0, 0);
} */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Rodapé */
footer {
	height: 180px;
}
