:root {
	/* Títulos, ícones, botões */
	--p1-color: #385787;
	--p2-color: #7796c6;
	--p3-color: #b7cef1;
	--p4-color: #d3dff2;

	/* Textos em geral */
	--b1-color: #4b505d;
	--b2-color: #203f6f;
	--b3-color: #edf4ff;
	--b4-color: #f6fdff;
	--white: #fff;
	--black: #000;

	/* Cores semânticas */
	--sucess-color: #32ec45;
	--warning-color: #f0dd35;
	--error-color: #e43838;
	--notification-color: #3431cf;

	/* Fontes */
	--font-primary: "Roboto", sans-serif;
	--font-size-small: 0.75rem;
	--font-size-base: 1rem;
	--font-size-large: 1.5rem;
	--line-height-base: 1.5;

	/* Espaçamentos */
	--spacing-small: 0.5rem;
	--spacing-medium: 1rem;
	--spacing-large: 1.5rem;
	--spacing-xlarge: 2rem;
	--spacing-xxlarge: 4rem;

	/* Bordas */
	--border-width: 1px;
	--border-radius: 4px;
	--border-radius-large: 8px;
}
/* Resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

button {
	all: unset;
	cursor: pointer;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100dvw;
	padding-top: 100px;
}

/* Estilização da navbar */
/* Tags */
nav {
	position: fixed;
	top: 0;
	left: 0;
	font-family: var(--font-primary);
	font-size: var(--font-size-base);
	font-weight: 300;
	min-height: 4rem;
	text-transform: uppercase;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100dvw;
	margin-bottom: var(--spacing-medium);
	padding: var(--spacing-small) var(--spacing-xlarge);
	justify-content: space-between;
	background-color: var(--p1-color);
}
nav div {
	width: 50dvw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: end;
}

nav div a {
	text-decoration: none;
	color: var(--p4-color);

	margin: var(--spacing-medium);
	padding: var(--spacing-small) var(--spacing-medium);
	transition: ease 0.3s;
}

nav div a:hover {
	color: var(--white);
}
nav div a:focus {
	color: var(--b3-color);
}

nav div button {
	font-weight: 400;
	color: var(--white);
	border: var(--border-width) solid var(--white);
	border-radius: 0.5rem;
	margin: var(--spacing-medium);
	padding: var(--spacing-small) var(--spacing-medium);
	transition: ease 0.3s;
}
nav div button:hover {
	background-color: var(--p4-color);
	color: var(--p1-color);
}

/* ids */
#logo > img {
	height: 6dvh;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Estilização da main */
/* tags */
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1180px;
	min-width: 600px;
	margin: 0 10dvw;
	border: 1px solid red;
}

/* ids */

/* classes */

/* ------------------------------------------------------------------------ */
