:root {
	--p1: #0b132b;
	--p2: #507dbc;
	--b1: #a1c6ea;
	--s1: #e4be9e;
	--s2: #f2f6d0;
	--dark-color: #100f0f;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

button {
	all: unset;
	cursor: pointer;
}

#container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
}

#draw-screen {
	border: 1px solid red;
	width: 800px;
	height: 600px;
}

#options-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 20px;
	gap: 20px;
}

.btn {
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	background-color: var(--p2);
	color: #fff;
}

.btn:hover {
	background-color: var(--b1);
	color: var(--p1);
}
