<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<!-- <link
			rel="icon"
			type="image/svg+xml"
			href="/vite.svg"
		/> -->
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Módulo de Seção Mestra</title>
		<link
			rel="stylesheet"
			href="./styles/style.css"
		/>
	</head>
	<body>
		<div id="container">
			<h1>Calculadora de Módulo de Seção Mestra</h1>
			<div id="options-bar">
				<button
					id="add-button"
					class="btn"
				>
					Add
				</button>
				<button
					id="remove-button"
					class="btn"
				>
					Remove
				</button>
				<button
					id="move-button"
					class="btn"
				>
					Move
				</button>
				<button
					id="edit-button"
					class="btn"
				>
					Edit
				</button>
			</div>
			<svg id="draw-screen">
				<g id="shapes-screen"></g>
			</svg>
		</div>
		<script
			type="module"
			src="main.js"
		></script>
	</body>
</html>
